<template>
  <div class="signup">
    <div class="box">
      <h2>이용 약관 동의</h2>
      <textarea readonly class="content">
        개인정보보호법
        올리포유 주식회사 (이하 ‘회사’)는 “실마리”홈페이지 이용자 (이하 ‘이용자’)의 개인정보를 매우 중요시하며,
        「정보통신망 이용촉진 및 정보보호」 및 「개인정보보호법」 등 관련 법률은 준수하고 있습니다. 회사는
        개인정보취급방침을 통하여 이용자께서 제공하시는 개인정보가 어떠한 용도의 방식으로 이용되고 있으며,
        개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 회사는 개인정보취급방침을 개정하는
        경우 웹사이트 공지사항 (또는 개별공지)을 통하여 공지할 것입니다.
        본 방침은 2018년 1월 1일부터 시행됩니다.

        1. 개인정보의 수집목적 및 이용목적
        회사의 “실마리”홈페이지에서는 수집한 정보를 다음의 목적을 위해 활용합니다. 처리하고 있는 개인정보는 다음의
        목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 「개인정보보호법」 제18조에 따라 별도의
        동의를 받는 등 필요한 조치를 이행할 예정입니다.
        - 이용목적 : 회원가입의사 확인, 회원가입에 따른 본인 식별 및 인증, 회원자격 유지 및 관리, 회원서비스
        부정이용방지, 각종 고지 및 통지, 고충처리, 구매/결재에 따른 본인 식별, 방문판매 등에 관한 법률을 포함한 관련
        법령에 의거하여 회사에 부과되는 법적, 행적적 의무의 이행, 수당지급, 소득세 및 주민세 등 각종 세금의 신고/납부,
        현금영수증 및 세금계산서의 발급/교부, 정확한 상품 배송지의 확보, 서비스의 제공, 계약서 및 청구서 발송, 콘텐츠
        제공, 맞춤서비스 제공

        2. 개인정보 수집에 대한 동의
        회사는 이용자의 개인정보 수집과 관련하여 이용자에게 [동의합니다] 버튼 또는 [동의하지 않습니다] 버튼을 클릭할 수
        있는 절차를 마련하여 이용자가 [동의합니다] 버튼을 클릭하면 개인정보 수집에 동의한 것으로 봅니다.

        3. 수집하는 개인정보 항목
        회사는 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
        - 수집항목 : 성명, 은행계좌정보, 사업자등록번호, 생년월일, 주소, 전화번호, 휴대전화번호, 전자메일주소, 회원 ID,
        접속 IP장비, 쿠키, 서비스 이용 기록, 접속 로그, 사진
        - 개인정보 수집방법 : 홈페이지

        4. 개인정보의 보유 및 이용기간
        회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의
        규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를
        보관합니다.
        - 계약 또는 청약철회 등에 관한 기록 : 5년
        - 대금 결제 및 재화 등의 공급에 관한 기록 : 5년
        - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
        - 회원탈퇴 6개월 이내의 재가입 방지 및 내부 방침에 의거 회원 부적격자의 식별 : 3년

        5. 개인정보의 목적 외 이용∙제공

        회사는 개인정보를 수집 목적 외의 방법으로 이용∙제공하지 않는 것을 원칙으로 합니다. 다만, 「개인정보보호법」
        제18조 등 관계 법령의 규정에 따라 예외적으로 이용∙제공할 수 있습니다.

        6. 개인정보의 파기절차 및 방법
        회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 파기절차 및
        방법은 다음과 같습니다.
        - 파기절차
        이용자가 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (종이의 경우 별도의 서류함) 내부 방침 및 기타 관련
        법령에 의한 정보보호 사유에 따라 (보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진
        개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.
        - 파기방법
        전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.

        7. 개인정보 처리방침 변경
        이 개인정보 처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는
        변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
          </textarea>
      <div class="waring">이용 약관 동의에 동의하지 않으시면 서비스를 이용하는데 제약이 있을 수 있습니다. (회원가입이 불가능합니다.)</div>
      <div class="button-box">
        <button @click.stop="go('login')">아니요, 동의하지 않습니다.</button>
        <button @click.stop="go('signup-type')">예, 동의합니다.</button>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    name: 'signup',
    methods: {
      go(path) {
        this.$router.push({path: path})
      }
    }
  }
</script>

<style lang="scss" scoped>
  .signup {
    height: 1100px;
    position: relative;
    .box {
      width: 1523px;
      height: 900px;
      position: absolute;
      margin: 0 auto;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      /*border: 1px solid red;*/
      box-shadow: 0px 0px 20px 14px rgba(205, 201, 205, 0.3);
      h2 {
        margin: 20px auto;
        font-size: 23px;
        font-weight: 300;
        line-height: 1.43;
        letter-spacing: 0.5px;
        text-align: center;
        color: rgb(103, 101, 101);
      }
      .content {
        resize: none;
        border: 0;
        outline: none;
        text-align: center;
        position: relative;
        margin: auto;
        top: 30px;
        width: 1358px;
        height: 600px;
        display: block;
        background-color: rgb(249, 248, 248);
        font-size: 17px;
        line-height: 1.59;
        letter-spacing: 0.4px;
        color: rgb(103, 101, 101);

      }
      .waring {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 152px;
        width: 795px;
        height: 33px;
        opacity: 0.7;
        font-size: 17px;
        line-height: 1.94;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgb(103, 101, 101);
      }
      .button-box {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 52px;
        width: 664px;
        height: 60px;
        /*border: 1px solid red;*/
        button {
          border: 0;
          cursor: pointer;
          font-size: 20px;
          line-height: 1.65;
          letter-spacing: 0.5px;
          color: rgb(103, 101, 101);
          width: 311px;
          height: 60px;
          background-color: rgb(238, 238, 238);
          &:nth-child(1) {
            float: left;
          }
          &:nth-child(2) {
            float: right;
          }

          &:hover {
            background-color: rgb(242, 199, 181);
          }
        }
      }
    }
  }

</style>
